<!doctype html>
<html lang="en">
	<head>
		<title>{{ title }}{% if title and metadata.siteTitle %} | {% endif %}{{ metadata.siteTitle }}</title>
		<link href="/styles.css" rel="stylesheet" />
		{% for path in styles %}
			<link href="/{{path}}" rel="stylesheet" />
		{% endfor %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{{ content }}
	</body>
</html>
