---
layout: content-page.liquid
---

<header>
	<h1>👋 Hi, I'm Jess!</h1>
</header>

<main>
	<p>
		Builder of everything from games and simulations to content management systems, ETL platforms, internet and intranet applications, and open source tools for the desktop, mobile, and the web. These days I'm helping build bespoke ETL and data migration services on Java, AWS Lambda, SQS, RDS, and IAM for <a href="https://insurancetechnologyservices.com">Insurance Technology Services</a>.
	</p>

	<p>
		👩🏼‍💻 Currently running my own software consultancy &amp; development shop
	</p>
	<p>
		🛠️ Original author (and still sometimes contributor) to <a href="https://premake.github.io">Premake</a>
	</p>
	<p>
		🎮 Used to build fun little games with <a href="http://blitinteractive.com">Blit Interactive</a>; good times!
	</p>
</main>

<footer>
	[
	<a href="mailto:starkos@industriousone.com">Email</a>
	|
	<a href="https://hachyderm.io/@starkos">Mastodon</a>
	|
	<a href="https://github.com/starkos">GitHub</a>
	|
	<a href="https://www.linkedin.com/in/starkos">LinkedIn</a>
	]
</footer>
